
body {
	background-color: var(--lightgrey);
}

/* classes */

/*---bg-colors---*/
.bg-darkgrey { background-color: var(--darkgrey); }

.bg-grey { background-color: var(--grey); }

@media (max-width: 991px) {

	.bg-md-grey { background-color: #2f5363 !important; }

}


/*---colors---*/
.color-blue { color: #95ceff; }


/*---containers---*/
@media (max-width: 991px) {

	.md-container {
		margin-right: .9rem !important;
		margin-left: .9rem !important;
		width: calc(100% - 1.8rem) !important; 
	}

}

@media (min-width: 992px) {

	.lg-container {
		width: 70% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

}	




/*---margins---*/
.mt-1 { margin-top: 0.5rem !important; }

/* the-end-of-classes */



/* links */

.white-link {
	color: white !important;
	font-size: 13px !important;
}

/* the-end-of-links */



/* download-app */

.download-app {
	padding: .9rem;
	border-radius: 5px;
	background-color: var(--verylightgrey);
	margin-top: 250px;
}

.download-app-text {
	margin: 0;
	color: white;
	display: inline-block;
}

.download-app-link {
	color: white;
	background-color: var(--grey);
	padding: 9px 12px;
	border-radius: 3px;
	transition: background-color .3s;
	width: 100%;
	margin-top: 0.9rem;
	position: relative;
}

.download-app-link i {
	margin-left: 0;
	position: absolute; 
	right: 12px;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
}

@media (hover: hover) {

	.download-app-link:hover {
		background-color: var(--lightgrey);
	}

}

.download-app-link:active {
	background-color: var(--lightgrey);
}	

@media (min-width: 992px) {

	.download-app {
		margin-top: 150px;
	}

	.download-app-link {
		margin-top: 0;
		margin-left: 10px;
		width: auto;
		padding: 0 12px;
	}

	.download-app-link i {
		margin-left: 5px;
		position: static;
		height: auto;
		display: inline-block;
	}

}

@media (max-width: 1392px) {

	.download-app {
		margin-top: 250px;
	}

}

/* the-end-of-download-app */